* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2b2c3b;
  --secondary-color: #273043;
  --tertiary-color: #2d1e2f;
  --background-color: #282930;
  --green-color: #03cea4;
  --yellow-color: #eac435;
  --shaded-yellow: #cbcb27;
  --gray-color: #7d7d7d;
  --orange-color: #fa945a;
  --text-color: rgb(235, 89, 82);
  --white-color: #ffffff;
}

body {
  background: linear-gradient(
    90deg,
    rgb(235, 89, 82) 0%,
    rgb(235, 89, 82) 100%
  );
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  position: relative;
  background-color: #121212;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  padding-bottom: 5rem;
  border-radius: 0px 40px 0px 40px;
  margin: 128px auto;
}

li,
ul {
  list-style: none;
}

.form-group {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 14px 32px 14px 16px;
  width: 600px;
  border-radius: 0px 10px 0px 10px;
  border: 3px solid var(--secondary-color);
  outline: var(--secondary-color);
  background: transparent;
  margin-right: 10px;
  outline: none;
  color: #fff;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

input:focus {
  outline: 3px solid var(--white-color);
}

.list-items {
  font-size: 1.5rem;
  padding: 14px 32px 14px 16px;
  border: 1px solid var(--secondary-color);
  margin-bottom: 0.5rem;
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.list-items:hover {
  background-color: var(--gray-color);
  border: 1px solid var(--white-color);
}

/* Header css styles */
.header-text {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 4px solid var(--yellow-color);
  padding-bottom: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

@media(max-width: 769px){
  .container {
    width: 80%;
   align-items: center;
   justify-content: center;
    padding: 20px 40px;
    padding-bottom: 5rem;
    border-radius: 0px 40px 0px 40px;
    margin: 128px auto;
  }

  .list-items {
    font-size: 1rem;
    padding: 14px 32px 14px 16px;
   
  }
  
  .input {
    padding: 14px 32px 14px 16px;
    width: 300px;
    border-radius: 0px 10px 0px 10px;
    border: 3px solid var(--secondary-color);
    background: transparent;
    margin-right: 10px;
    outline: none;
    color: #fff;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
  }
}