* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2b2c3b;
  --secondary-color: #273043;
  --tertiary-color: #2d1e2f;
  --background-color: #282930;
  --green-color: #03cea4;
  --yellow-color: #eac435;
  --shaded-yellow: #cbcb27;
  --gray-color: #7d7d7d;
  --orange-color: #fa945a;
  --text-color: #7a818f;
  --white-color: #ffffff;
}

body {
  background: linear-gradient(
    90deg,
    rgba(32, 33, 41) 0%,
    rgba(42, 43, 49) 100%
  );
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  position: relative;
  background-color: #121212;
  width: 720px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  padding-bottom: 5rem;
  border-radius: 0px 40px 0px 40px;
  margin: 128px auto;
}

li,
ul {
  list-style: none;
}

.form-group {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 14px 32px 14px 16px;
  width: 400px;
  border-radius: 0px 10px 0px 10px;
  border: 3px solid var(--yellow-color);
  background: transparent;
  margin-right: 10px;
  outline: none;
  color: #fff;
}

.list-items {
  padding: 14px 32px 14px 16px;
  border: 1px solid var(--secondary-color);
  margin-bottom: 0.5rem;
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.list-items:hover{
  transform: scaleX(1.02);
}
